@font-face {
    font-family: JetBrainsMono;
    src: url("assets/JetBrainsMono-Regular.ttf");
}
.keyword {
    -fx-fill: #C792EA !important;
    -fx-font-weight: bold ;
}
.semicolon {
    -fx-fill: #b22222;
    -fx-font-weight: bold;
}
.styled-text-area{
    -fx-background-color: #0f111a;
    -fx-font-family: JetBrainsMono;
}
.styled-text-area .caret {
    /* set the blink rate of the area */
    -fx-stroke: #cdb500 !important;
    -fx-stroke-width:2px;
}

.selection
{
    -fx-fill: #3b3f51;
}
.error {
    -fx-fill: firebrick !important;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.text  {
    -fx-fill: #C3D3DE;
    -fx-font-size: 14px;
}
.context-menu {
    -fx-background-color: #303030;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}

.menu-bar {
    -fx-background-color: #182929;
}
.menu:hover , .menu:showing, .menu-item:hover,.menu-item:showing,.button:hover{
    -fx-background-color: #0c1515;
    -fx-fill-color: #0c1515;
}
.menu:pressed , .menu:pressed, .menu-item:pressed,.menu-item:pressed,.button:pressed{
    -fx-background-color: #1f3535;
    -fx-fill-color: #1f3535;
}

.paragraph-text {
    -fx-padding:  0 0 0 2;
}
.tree-cell {
    -fx-background-color: #090b10;
}
.tree-view {
    -fx-focus-color: #090b10;
    -fx-background-color: #090b10;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-background-color: #1a1c25;
}
.comment {
    -fx-fill: cadetblue;
}
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #090b10;
}
.tab {
    -fx-font-size: 12;
    -fx-background-color: #1c1f32;
}

.tab:selected {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-background-color: #293360;
}
.lineno {
    -fx-background-color: #282C34;
    -fx-font: 13px "Consolas";
    -fx-text-fill: #4B5262;

}

.paragraph-box:has-caret {
    -fx-background-color: #1a1c25;
}
.text-area .content{
    -fx-background-color: #090b10;

}
.text-area {
    -fx-background-color: #090b10;
    -fx-text-fill: #C3D3DE;
    -fx-font-size: 15px;
}
.button{
    -fx-background-color: #182929;
    -fx-background-radius: 0;
}